body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,53,87,0.9976365546218487) 35%, rgba(255,255,255,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
}
.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(29, 53, 87);
    font-weight: bolder;
    margin: 10px;
}
input{
    margin: 15px;
}
h2{
    color: rgb(29, 53, 87);
}
button{
    background-color: rgb(29, 53, 87);
    border: 2px solid rgb(69, 123, 157);
    border-radius: 5px;
    padding: 6px;
    color: white;
    font-weight: bold;
}
p{
    color: rgb(29, 53, 87);
    font-weight: bold;
}

@media (min-width: 650px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media (max-width: 350px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 250px;
        margin-top: 60px;
    }
    input{
        margin: 20px;
        border-radius: 5px;
        border: 1px solid lightgray;
    }
}